$color-background:#121829;
$color-primary:#7B6EF6;
$color-tertary:rgba(182, 109, 255, 1);
$color-success:rgba(5, 206, 145, 1);
$color-error:rgba(255, 97, 97, 1);
$color-warning:rgba(255, 173, 73, 1);
$color-letter:rgba(195, 200, 212, 1);
$color-border:rgba(50, 59, 84, 1);
$color-heading-gray:rgba(235, 238, 245, 1);
$color-pill-gray:#8E95A9;
$color-letter-white:#EBE9FE;
$color-background-pill-nav:rgba(0, 0, 0, 0.20) ;
$color-hovered:#FFF;
$color-active-link: #475EF4;
$color-title-gray:#767E94;
$color-title-card:rgba(32, 40, 62, 0.8);
$color-all-gray:rgba(118, 126, 148, 1);
$color-grey-300:#8E95A9;
$color-grey-400:rgba(118, 126, 148, 1);
$color-grey-600:#475069;
$color-grey-700:#323B54;
$color-black-65:rgba(0, 0, 0, 0.65);
$color-error-600:rgba(204, 78, 78, 1);
$color-white:#E4E4E4;
