@import '../../styleConfig/mixin.scss';
@import '../../styleConfig/variables.scss';

.header{
    display: flex;
    margin-top: 16px;
    margin-bottom: 80px;

    justify-content: space-between;
    & .nav{
        display: flex;
        gap: 32px;
    }
    @include breakpoints($tablet){
        margin-bottom: 100px;
    }
    & .logout{
        background: transparent;
        // color: ;
        border: none;
        color: $color-letter;
        &:hover{
            color: $color-hovered;
        }
    }
}